<!DOCTYPE html>
<html>
  <head>
    <title>Practicalapp</title>
    <link rel="icon" type="favicon" href="https://www.w3schools.com/images/colorpicker2000.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
